@import "components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "scss/grid30";

body {
    font-family: '微软雅黑', #{$font-family-sans-serif};
}

.navbar {
    margin-bottom: 0px;
    form {
        margin-bottom: 0px;

        .form-group {
            margin-bottom: 0px;
        }
    }
}

.banner {
    margin-bottom: 40px;
    min-height: 300px;
    
    img {
        width: 100%;
    }
}

.icon-watch-reverse {
    width: 17px; 
    height: 12px;
    display: inline-block;
    vertical-align: baseline;
    background: url(../img/watch-reverse.png) center center no-repeat;
}

.icon-more {
    width: 11px;
    height: 18px;
    display: inline-block;
    vertical-align: top;
    background: url(../img/more-arrow.png) top center no-repeat;
}

section.video-grid {
    margin-bottom: 40px;

    .more {
        margin: 0px;
    }

    .grid {
        padding-top: 12px;

        .video-large {
            $bg-height: 8px;
            padding-top: $bg-height;
            margin-top: -$bg-height;
            background: url(../img/video-bg.png) top center no-repeat;

            img {
                width: 100%;
            }
        }

        .row {
            margin-bottom: 16px;
        }

        .video {

            .video-thumbnail {
                position: relative;

                .title {
                    @include text-overflow;
                    padding: 6px 12px;
                    position: absolute;
                    width: 100%;
                    bottom: 0px;
                    background: rgba(0, 0, 0, .6);
                    color: $gray-lighter;
                    font-size: $font-size-small;
                }
            }

            .video-info {
                div.comment {
                    margin: 8px 0px 5px;
                    @include text-overflow;
                }

                .meta {
                    @include text-overflow;
                    color: $gray-light;
                    font-size: $font-size-small;

                    .icon-watch {
                        height: 10px;
                        width: 15px;
                        background: url(../img/watch.png) left center no-repeat;
                        display: inline-block;
                        vertical-align: baseline;
                    }

                    div.watch {
                        color: $gray-light;
                        float: right;
                        font-size: $font-size-small;
                    }
                }
                            }

            img {
                width: 100%;
            }
        }
    }
}

section.video-list {
    margin-bottom: 40px;
    ul {
        padding-top: 12px;
        @include clearfix;
        list-style: none;
        padding-left: 0px;
        margin-bottom: 0px;

        .video.video-medium {
            img {
                width: 100%;
            }

            position: relative;
            box-sizing: border-box;

            .title {
                @include gradient-vertical-three-colors(rgba(0, 0, 0, 0), rgba(0, 0, 0, .3), 50%, rgba(0, 0, 0, 1));
                @include text-overflow;
                position: absolute;

                bottom: 0px;
                width: 100%;
                padding: 45px 15px 15px;
                color: $gray-lighter;
            }
        }
    }
}

.footer {
    background: rgb(22, 101, 173);
    color: $gray-lighter;

    .icon img {
        max-width: 100%;
    }

    p {
        font-size: $font-size-small;
    }

    a {
        color: $gray-lighter;
    }

    .seperator {
        padding: 0px 8px;
        color: $gray-lighter;
    }
}

.video-large {
    position: relative;
    cursor: pointer;

    .btn-play {
        display: none;
        position: absolute;
        width: 99px;
        height: 99px;
        margin-left: -49.5px;
        margin-top: -49.5px;
        left: 50%;
        top: 50%;
        background: url(../img/play.png) center center no-repeat;
    }

    &:hover .btn-play {
        display: block;
    }

    .info {
        color: $gray-lighter;
        position: absolute; 
        width: 100%;
        bottom: 0px;
        padding: 30px 20px;
        @include gradient-vertical-three-colors(rgba(0, 0, 0, 0), rgba(0, 0, 0, .3), 50%, rgba(0, 0, 0, .5));
        @include text-overflow;

        .title {
            font-size: $font-size-h4;
        }

        .meta {
            color: $gray-lighter;

            .watch {
                float: right;
            }
        }
    }
}
