--index-url http://pypi.douban.com/simple

trunkate
Django
mysql-python
django-parsley
django-auth-remember
django-render-json
django-render-csv
python-memcached
django-tables3
xlwt
django-mysqlpool
uwsgi
pillow
underscore.py
fabric
requests
redis
days
django-oauth2-provider
django-oauth-toolkit
django-active-tab
