@import "assets/components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "assets/scss/lib/grid30";
@import "assets/scss/lib/font-bvod";
@import "assets/scss/lib/icon";
@import "assets/scss/lib/navbar-bvod";
@import "assets/scss/lib/footer";
@import "assets/scss/lib/video-card";

.header {
 .more {
  margin: 0px;
 } 
}
body{
    background: #FAF9F9;
}

div.loop3{
    margin-bottom:0px;
}
$link_black:#333;
a {
  color:$link_black;
  text-decrotion:none;
}
a:focus, a:hover {
  color:$link_black*0.85;
  text-decrotion:none;
}
.carousel-fade .item {
  -webkit-transition: opacity 1s; 
  -moz-transition: opacity 1s; 
  -ms-transition: opacity 1s; 
  -o-transition: opacity 1s; 
  transition: opacity 1s;
}

.carousel-fade .active.left {
  left:0;
  opacity:0;
  z-index:2;
}

.carousel-fade .next {
  left:0;
  opacity:1;
  z-index:1;
}

.carousel-fade .carousel-control:hover {
  background: transparent;
}

.carousel-fade .carousel-control {
  background: transparent;
  width: 100px;
}

$video-large-width-indeed: 560px;
$video-large-height-indeed: 315px;
$video-medium-width-indeed: 160px;
$video-medium-height-indeed: 90px;

$org-width-indeed: 256px;
$org-height-indeed: 256px;

@mixin btn-play-base($width, $height) {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: $width;
  height: $height;
  margin-left: -$width/2;
  margin-top: -$height/2;
}

.btn-play {
  @include btn-play-base(99px, 99px);
  background: url(../img/play.png) center center no-repeat;
}

.btn-play-lg {
  @include btn-play-base(140px, 140px);
  background: url(../img/play-lg.png) center center no-repeat;
}

.banner {
    position: relative;
    margin-bottom: 40px;

    .item {
      min-width: $container-lg;
      min-height: 300px;

      .container {
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;

        .meta {
          @include size(400px, auto);
          position: absolute;
          top: 60%;
          left: 10px;
          color: #fff;
          text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.41);

          h3 {
            font-weight: normal;
          }

          .ad-title, .ad-desc {
            display: none;
          }
        }
      }

      @media (min-width: $screen-lg-min) {
        .container {
          position: absolute;
          top: 0px;
          left: 50%;
          width: $container-lg;
          height: 100%;
          margin-left: -$container-lg/2;
        }
      }

      > img {
        width: 100%;
        @media (max-width: $container-lg) {
          width: $container-lg;
        }
      }
    }

    .carousel-control {
      background: transparent; 
      filter: none;
      display: block;
      @include size(20px, 35px);
      top: 50%;
      margin-top: -18px;

      &.right {
        right: 40px;
      }

      &.left {
        left: 40px;
      }

      &:hover {
        background: transparent;
        filter: none;
      }

      .bvod-icon-arrow-left {
        background: url(../img/arrow-left.png) center center no-repeat;

        &:hover {
          background: url(../img/arrow-left-gray.png) center center no-repeat;
        }
      }

      .bvod-icon-arrow-right {
        background: url(../img/arrow-right.png) center center no-repeat;

        &:hover {
          background: url(../img/arrow-right-gray.png) center center no-repeat;
        }
      }

      .bvod-icon-arrow-left,
      .bvod-icon-arrow-right {
        display: block;
        @include size(20px, 35px);
      }
    }

    &:hover {
      .btn-play-lg {
        display: block;
      }
    }
}

section.video-grid {
    margin-bottom: 40px;

    .grid {
        padding-top: 12px;
        .video-thumbnail .btn-play {
          background-size:60px;
        }
        .video-thumbnail:hover .btn-play {
          display:block;
        }
        .video-thumbnail .comment {
          height:0;
          padding:0 12px !important;
          transition: height 0.5s;
          -moz-transition: height 0.5s;  
          -webkit-transition: height 0.5s; 
          -o-transition: height 0.5s;  
        }
        .video-thumbnail:hover .comment {
          padding:6px 12px !important;
          height:30px;
        }
        $video-width-large: ($container-lg)* 0.4 - $grid-gutter-width; // 444px
        $video-height-large: $video-width-large * 0.85; // ~377px
        $video-large-offset: (($video-large-width-indeed * $video-height-large / $video-large-height-indeed) - $video-width-large)/2;
        .video-large {
            
            a {
              text-decoration:none;
              color:#fff;
            }
            
            $bg-height: 8px;
            padding-top: $bg-height;
            margin-top: -$bg-height;
            background: url(../img/video-bg.png) top center no-repeat;
            @include size($video-width-large, $video-height-large + $bg-height);
            overflow: hidden;

            .title {
              font-size: $font-size-h3;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
            }

            img {
              display: block;
              height: $video-height-large;
              margin-left: -$video-large-offset;

              &.error {
                height: $video-height-large;
                margin-left: 0px;; 
              }
            }
        }

        .row {
            margin-bottom: 0px;
        }

        .video-info { 
          
          a {
            text-decoration:none;
            color:$link_black;
          }
          a:hover {
            color:$link_black*0.85;
          }
          .title{
            margin: 3px 0;
            font-size: 18px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
        .video {
          @include video-card($container-lg/5 - $grid-gutter-width, 135px);
        }
    }
}

section.video-list {
    margin-bottom: 40px;

    ul {
        @include clearfix;
        padding-top: 12px;
        list-style: none;
        padding-left: 0px;
        margin-bottom: 0px;
        .video-medium {
          .comment {
            height:0;
            padding:0 12px !important;
            transition: height 0.5s;
            -moz-transition: height 0.5s;  
            -webkit-transition: height 0.5s; 
            -o-transition: height 0.5s;  
          }
        }
        .video-medium:hover .comment {
          padding:6px 12px !important;
          height:30px;
        }
        .video.video-medium {
            display: block;
            overflow: hidden;
            .btn-play {
              background-size:60px;
            }
            &:hover .btn-play {
              display: block;
            }
           
           
            $video-width: 212px;
            $video-height: 200px;
            $video-offset: ($video-large-width-indeed * $video-height / $video-large-height-indeed - $video-width)/2;
            img {
              height: $video-height;
              margin-left: -$video-offset;

              &.error {
                height: $video-height;
                margin-left: 0px;
              }
            }
        

            position: relative;
            box-sizing: border-box;
            
            a {
              text-decoration:none;
              color:$link_black;
            }
            a:hover {
              color:$link_black*0.85;
            }
            .title {
                @include gradient-vertical-three-colors(rgba(0, 0, 0, 0), rgba(0, 0, 0, .3), 50%, rgba(0, 0, 0, 1));
                @include text-overflow;
                position: absolute;

                bottom: 0px;
                width: 100%;
                padding: 45px 15px 15px;
                color: $gray-lighter;
            }
        }

        .video-info{
            background: #fff;
            padding: 10px 8px;

            .watch{
                float: right;
            }
            $black:#333;
            a {
              text-decoration:none;
              color:$black;
            }
            a:hover {
              color:$black*0.85;
            }
            .title {
                font-size: $font-size-large;
                margin-bottom: 3px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .item{
            border: none;
            box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
        }
    }
}

.video-large {
    position: relative;
    cursor: pointer;

    &:hover .btn-play {
        display: block;
    }

    .info {
        color: $gray-lighter;
        position: absolute; 
        width: 100%;
        bottom: 0px;
        padding: 30px 20px;
        @include gradient-vertical-three-colors(rgba(0, 0, 0, 0), rgba(0, 0, 0, .3), 50%, rgba(0, 0, 0, .5));
        @include text-overflow;

        .title {
            font-size: $font-size-h4;
        }

        .meta {
            color: $gray-lighter;

            .watch {
                float: right;
            }
        }
    }
}


.departments {
  margin-bottom: 40px;

  $dep-length: 7;
  $dep-size: $container-lg / $dep-length; 
  $dep-card-size: $dep-size - $grid-gutter-width;

  .department-list-wrapper {
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top:12px;

    .department-list {

      .department {
        width: $dep-size;
        box-sizing: border-box;
        padding: 0px $grid-gutter-width/2;

        a {
          display: block;
          overflow: hidden;
          height:$dep-card-size + 1;
          

          img {
            border-radius: 6px;
            border: 1px solid $gray-lighter;
            @include square($dep-card-size);
          }
        }

        .title {
          margin-top: 15px;
          text-align: center;
        }

        &.last, &:last-child {
          width: $dep-size - $grid-gutter-width/2;
          padding-right: 0px;
        }
      }
    }
  }
}
.col-xs-6 .comment{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background: rgba(0,0,0,0.5);
    padding: 6px 12px;
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #fff;
}
