@import "assets/components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "assets/scss/lib/grid30";
@import "assets/scss/lib/font-bvod";
@import "assets/scss/lib/icon";
@import "assets/scss/lib/navbar-bvod";
@import "assets/scss/lib/footer";

.header {
 .more {
  margin: 0px;
 } 
}

.carousel-fade .item {
  -webkit-transition: opacity 1s; 
  -moz-transition: opacity 1s; 
  -ms-transition: opacity 1s; 
  -o-transition: opacity 1s; 
  transition: opacity 1s;
}

.carousel-fade .active.left {
  left:0;
  opacity:0;
  z-index:2;
}

.carousel-fade .next {
  left:0;
  opacity:1;
  z-index:1;
}

.carousel-fade .carousel-control:hover {
  background: transparent;
}

.carousel-fade .carousel-control {
  background: transparent;
}

$video-large-width-indeed: 560px;
$video-large-height-indeed: 315px;
$video-medium-width-indeed: 160px;
$video-medium-height-indeed: 90px;

@mixin btn-play-base($width, $height) {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: $width;
  height: $height;
  margin-left: -$width/2;
  margin-top: -$height/2;
}

.btn-play {
  @include btn-play-base(99px, 99px);
  background: url(../img/play.png) center center no-repeat;
}

.btn-play-lg {
  @include btn-play-base(140px, 140px);
  background: url(../img/play-lg.png) center center no-repeat;
}

.banner {
    position: relative;
    margin-bottom: 40px;

    .item {
      min-width: $container-lg;

      .container {
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;

        .meta {
          @include size(400px, auto);
          position: absolute;
          top: 60%;
          left: 10px;
          color: #fff;
          text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.41);

          h3 {
            font-weight: normal;
          }

          .ad-title, .ad-desc {
            display: none;
          }
        }
      }

    @media (min-width: $screen-lg-min) {
        .container {
          position: absolute;
          top: 0px;
          left: 50%;
          width: $container-lg;
          height: 100%;
          margin-left: -$container-lg/2;
        }
      }

      img {
        width: 100%;
      }

      &:hover {
        .btn-play-lg {
          display: block;
        }
      }
    }
}

section.video-grid {
    margin-bottom: 40px;

    .grid {
        padding-top: 12px;

        $video-width-large: ($container-lg)* 0.4 - $grid-gutter-width; // 444px
        $video-height-large: $video-width-large * 0.85; // ~377px
        $video-large-offset: (($video-large-width-indeed * $video-height-large / $video-large-height-indeed) - $video-width-large)/2;
        .video-large {
            $bg-height: 8px;
            padding-top: $bg-height;
            margin-top: -$bg-height;
            background: url(../img/video-bg.png) top center no-repeat;
            @include size($video-width-large, $video-height-large + $bg-height);
            overflow: hidden;

            img {
              display: block;
              height: $video-height-large;
              margin-left: -$video-large-offset;

              &.error {
                height: $video-height-large;
                margin-left: 0px;; 
              }
            }
        }

        .row {
            margin-bottom: 16px;
        }

        .video {
            .video-thumbnail {
                position: relative;
                overflow: hidden;
                $video-width: $container-lg / 5 - $grid-gutter-width;
                $video-height: 135px;
                @include size($video-width, $video-height);
                $video-medium-offset: (($video-medium-width-indeed * $video-height / $video-medium-height-indeed) - $video-width)/2;

                img {
                  height: $video-height;
                  margin-left: -$video-medium-offset;

                  &.error {
                    height: 100%;
                    margin-left: 0px;
                  }
                }

                .title {
                    @include text-overflow;
                    padding: 6px 12px;
                    position: absolute;
                    width: 100%;
                    bottom: 0px;
                    background: rgba(0, 0, 0, .6);
                    color: $gray-lighter;
                    font-size: $font-size-small;
                }
            }

            .video-info {
                div.comment {
                    margin: 8px 0px 5px;
                    @include text-overflow;
                }

                .meta {
                    @include text-overflow;
                    color: $gray-light;
                    font-size: $font-size-small;
                    margin-bottom: 8px;

                    
                    div.watch {
                        color: $gray-light;
                        float: right;
                        font-size: $font-size-small;
                    }
                }
            }
        }
    }
}

section.video-list {
    margin-bottom: 40px;

    ul {
        @include clearfix;
        padding-top: 12px;
        list-style: none;
        padding-left: 0px;
        margin-bottom: 0px;

        .video.video-medium {
            display: block;
            overflow: hidden;

            &:hover .btn-play {
              display: block;
            }

            $video-width: 212px;
            $video-height: 360px;
            $video-offset: ($video-large-width-indeed * $video-height / $video-large-height-indeed - $video-width)/2;
            img {
              height: $video-height;
              margin-left: -$video-offset;

              &.error {
                height: $video-height;
                margin-left: 0px;
              }
            }

            position: relative;
            box-sizing: border-box;

            .title {
                @include gradient-vertical-three-colors(rgba(0, 0, 0, 0), rgba(0, 0, 0, .3), 50%, rgba(0, 0, 0, 1));
                @include text-overflow;
                position: absolute;

                bottom: 0px;
                width: 100%;
                padding: 45px 15px 15px;
                color: $gray-lighter;
            }
        }
    }
}

.video-large {
    position: relative;
    cursor: pointer;

    &:hover .btn-play {
        display: block;
    }

    .info {
        color: $gray-lighter;
        position: absolute; 
        width: 100%;
        bottom: 0px;
        padding: 30px 20px;
        @include gradient-vertical-three-colors(rgba(0, 0, 0, 0), rgba(0, 0, 0, .3), 50%, rgba(0, 0, 0, .5));
        @include text-overflow;

        .title {
            font-size: $font-size-h4;
        }

        .meta {
            color: $gray-lighter;

            .watch {
                float: right;
            }
        }
    }
}


.departments {
  margin-bottom: 20px;

  $dep-length: 7;
  $dep-size: $container-lg / 7; 
  $dep-padding-horizontal: 10px;

  .department-list-wrapper {
    overflow-y: hidden;
    overflow-x: auto;

    .department-list {
      width: $dep-size * $dep-length - $dep-padding-horizontal;

      .department {
        width: $dep-size;
        padding-left: 10px;
        padding-right: 10px;
        a {
          display: block;
          img {
            border-radius: 6px;
            border: 1px solid $gray-lighter;
            width: 100%;
          }
        }

        .title {
          text-align: center;
        }

        &:last-child {
          width: $dep-size - $dep-padding-horizontal;
          padding-right: 0px;
        }
      }
    }
  }
}
