@import "assets/components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "assets/scss/lib/grid30";

body {
    font-family: '微软雅黑', #{$font-family-sans-serif};
}

.navbar {
    margin-bottom: 0px;
    form {
        margin-bottom: 0px;

        .form-group {
            margin-bottom: 0px;
        }
    }
}

@mixin btn-play-base($width, $height) {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  width: $width;
  height: $height;
  margin-left: -$width/2;
  margin-top: -$height/2;
}

.btn-play {
  @include btn-play-base(99px, 99px);
  background: url(../img/play.png) center center no-repeat;
}

.btn-play-lg {
  @include btn-play-base(140px, 140px);
  background: url(../img/play-lg.png) center center no-repeat;
}

.banner {
    position: relative;
    margin-bottom: 40px;
    height: 420px;

    .banner-inner {
      position: absolute;
      top: 0px;
      width: 100%;
      height: 100%;

      .container {
        height: 100%;
        position: relative;

        .meta {
          @include size(400px, auto);
          position: absolute;
          bottom: 12%;
          left: 0%;
          color: #fff;
          text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.41);
          h3 {
            font-weight: normal;
          }
        }
      }
    }

    .slide-item {
        width: 100%;
        height: 100%;
    }

    &:hover {
      .btn-play-lg {
        display: block;
      }
    }
}

@mixin bvod-icon($bg_url, $width, $height, $vertical-align: baseline) {
  @include size($width, $height);
  display: inline-block;
  vertical-align: $vertical-align;
  background: url(#{$bg_url}) center center no-repeat;
}

.icon-logo {
  @include bvod-icon("../img/logo.png", 50px, 50px, top);
}

.icon-watch-reverse {
    width: 17px; 
    height: 12px;
    display: inline-block;
    vertical-align: baseline;
    background: url(../img/watch-reverse.png) center center no-repeat;
}

.icon-more {
    width: 11px;
    height: 18px;
    display: inline-block;
    vertical-align: top;
    background: url(../img/more-arrow.png) top center no-repeat;
}

section.video-grid {
    margin-bottom: 40px;

    .more {
        margin: 0px;
    }

    .grid {
        padding-top: 12px;

        $video-width-large: ($container-lg)* 0.4 - $grid-gutter-width; // 444px
        $video-height-large: $video-width-large * 0.85; // ~377px
        .video-large {
            $bg-height: 8px;
            padding-top: $bg-height;
            margin-top: -$bg-height;
            background: url(../img/video-bg.png) top center no-repeat;
            @include size($video-width-large, $video-height-large + $bg-height);

            img {
                width: 100%;
            }
        }

        .row {
            margin-bottom: 16px;
        }

        .video {
            .video-thumbnail {
                position: relative;
                $video-width: $container-lg / 5 - $grid-gutter-width;
                $video-height: 135px;
                @include size($video-width, $video-height);

                .title {
                    @include text-overflow;
                    padding: 6px 12px;
                    position: absolute;
                    width: 100%;
                    bottom: 0px;
                    background: rgba(0, 0, 0, .6);
                    color: $gray-lighter;
                    font-size: $font-size-small;
                }
            }

            .video-info {
                div.comment {
                    margin: 8px 0px 5px;
                    @include text-overflow;
                }

                .meta {
                    @include text-overflow;
                    color: $gray-light;
                    font-size: $font-size-small;
                    margin-bottom: 8px;

                    .icon-watch {
                        height: 10px;
                        width: 15px;
                        background: url(../img/watch.png) left center no-repeat;
                        display: inline-block;
                        vertical-align: baseline;
                    }

                    div.watch {
                        color: $gray-light;
                        float: right;
                        font-size: $font-size-small;
                    }
                }
            }

            img {
                width: 100%;
            }
        }
    }
}

section.video-list {
    margin-bottom: 40px;
    ul {
        padding-top: 12px;
        @include clearfix;
        list-style: none;
        padding-left: 0px;
        margin-bottom: 0px;

        .video.video-medium {
            img {
                width: 100%;
            }

            position: relative;
            box-sizing: border-box;

            .title {
                @include gradient-vertical-three-colors(rgba(0, 0, 0, 0), rgba(0, 0, 0, .3), 50%, rgba(0, 0, 0, 1));
                @include text-overflow;
                position: absolute;

                bottom: 0px;
                width: 100%;
                padding: 45px 15px 15px;
                color: $gray-lighter;
            }
        }
    }
}

.footer {
    background: rgb(22, 101, 173);
    color: $gray-lighter;

    .icon img {
        max-width: 100%;
    }

    p {
        font-size: $font-size-small;
    }

    a {
        color: $gray-lighter;
    }

    .seperator {
        padding: 0px 8px;
        color: $gray-lighter;
    }
}

.video-large {
    position: relative;
    cursor: pointer;

    

    &:hover .btn-play {
        display: block;
    }

    .info {
        color: $gray-lighter;
        position: absolute; 
        width: 100%;
        bottom: 0px;
        padding: 30px 20px;
        @include gradient-vertical-three-colors(rgba(0, 0, 0, 0), rgba(0, 0, 0, .3), 50%, rgba(0, 0, 0, .5));
        @include text-overflow;

        .title {
            font-size: $font-size-h4;
        }

        .meta {
            color: $gray-lighter;

            .watch {
                float: right;
            }
        }
    }
}


.icon-history {
    background: url(../img/history.png) center center no-repeat;
    @include size(16px, 16px);
    display: inline-block;
    vertical-align: middle
}


$navbar-height:                 67px;
$navbar-bvod-color:             #efeff1 !default;
$navbar-bvod-bg:                transparent  !default;
$navbar-bvod-border:            $navbar-bvod-bg, 6.5% !default;

// Navbar links
$navbar-bvod-link-color:                #efeff1 !default;
$navbar-bvod-link-hover-color:          $navbar-bvod-color !default;
$navbar-bvod-link-hover-bg:             transparent !default;
$navbar-bvod-link-active-color:         $navbar-bvod-color !default;
$navbar-bvod-link-active-bg:            transparent; 
$navbar-bvod-link-disabled-color:       #ccc !default;
$navbar-bvod-link-disabled-bg:          transparent !default;

// Navbar brand label
$navbar-bvod-brand-color:               $navbar-bvod-link-color !default;
$navbar-bvod-brand-hover-color:         transparent;
$navbar-bvod-brand-hover-bg:            transparent !default;

// Navbar toggle
$navbar-bvod-toggle-hover-bg:           #fff !default;
$navbar-bvod-toggle-icon-bar-bg:        #fff !default;
$navbar-bvod-toggle-border-color:       #fff !default;

$navbar-bvod-line-height: 37px;

.navbar-bvod {
  @include gradient-vertical-three-colors(rgba(0, 0, 0, .7), rgba(0, 0, 0, .3), 50%, rgba(0, 0, 0, .05));
  background-color: $navbar-bvod-bg;
  border-color: $navbar-bvod-border;

  .navbar-brand {
    color: $navbar-bvod-brand-color;
    float: left;
    padding: $navbar-padding-vertical $navbar-padding-horizontal;
    font-size: $font-size-h3;
    line-height: 50px;
    padding: 7px 0px;
    height: $navbar-height;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    @media (min-width: $grid-float-breakpoint) {
      .navbar > .container &,
      .navbar > .container-fluid & {
        margin-left: -$navbar-padding-horizontal;
      }
    }
  }
  
  .navbar-text {
    color: $navbar-bvod-color;
  }

  .navbar-nav.tabs {
      font-size: $font-size-large;

      > li > a {
        padding-left: 25px;
        padding-right: 25px;
        line-height: 18px;
      }
  }


  .navbar-nav {
    > li > a {
      color: $navbar-bvod-link-color;
      text-align: center;
      line-height: $navbar-bvod-line-height;

      > span.en {
        font-size: $font-size-base;
      }

      &:hover,
      &:focus {
        color: $navbar-bvod-link-hover-color;
        background-color: $navbar-bvod-link-hover-bg;
      }
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-bvod-link-active-color;
        background: url(../img/navbar-active.png) top center no-repeat $navbar-bvod-link-active-bg;
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: $navbar-bvod-link-disabled-color;
        background-color: $navbar-bvod-link-disabled-bg;
      }
    }
  }

  .navbar-toggle {
    border-color: $navbar-bvod-toggle-border-color;
    &:hover,
    &:focus {
      background-color: $navbar-bvod-toggle-hover-bg;
    }
    .icon-bar {
      background-color: $navbar-bvod-toggle-icon-bar-bg;
    }
  }

  .navbar-collapse,
  .navbar-form {
    border-color: $navbar-bvod-border;

    .form-control {
        width: 250px;
        background: transparent;
        color: #fff;
    }

    ::-webkit-input-placeholder {
        color: $navbar-bvod-color;
    }

    .navbar-form {
        padding-top: 10px;
    }
  }

  // Dropdown menu items
  .navbar-nav {
    // Remove background color from open dropdown
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: $navbar-bvod-link-active-bg;
        color: $navbar-bvod-link-active-color;
      }
    }

    @media (max-width: $grid-float-breakpoint-max) {
      // Dropdowns get custom display when collapsed
      .open .dropdown-menu {
        > li > a {
          color: $navbar-bvod-link-color;
          &:hover,
          &:focus {
            color: $navbar-bvod-link-hover-color;
            background-color: $navbar-bvod-link-hover-bg;
          }
        }
        > .active > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-bvod-link-active-color;
            background-color: $navbar-bvod-link-active-bg;
          }
        }
        > .disabled > a {
          &,
          &:hover,
          &:focus {
            color: $navbar-bvod-link-disabled-color;
            background-color: $navbar-bvod-link-disabled-bg;
          }
        }
      }
    }
  }


  // Links in navbars
  //
  // Add a class to ensure links outside the navbar nav are colored correctly.

  .navbar-link {
    color: $navbar-bvod-link-color;
    &:hover {
      color: $navbar-bvod-link-hover-color;
    }
  }

  .btn-link {
    color: $navbar-bvod-link-color;
    &:hover,
    &:focus {
      color: $navbar-bvod-link-hover-color;
    }
    &[disabled],
    fieldset[disabled] & {
      &:hover,
      &:focus {
        color: $navbar-bvod-link-disabled-color;
      }
    }
  }
}