@import "videos";
.org-list {
	.live-empty {
		text-align:center;
		> img {
			margin-top:50px;
		}
	}
}
.live-title {
	margin-top: 40px;
	width: 80%;	
	margin-left:10%;
	> .live-which {
		padding:3px 4px;
		background:#dcdcdc;
		border:#fff;
		color:#fff;
		font-size:14px;
	}
	> .live-date-sub-wrap {
		margin-top:10px;
		font-size:18px;
	}
	> .live-date {
		font-size:16px;
	}
	> .live-week {
		font-size:14px;
	}
}
.no-padding-left {
	padding-left:0;
}
.live-detail {
	border:1px solid #dcdcdc;
	margin-top:10px;
	width:80%;
	position:relative;
	margin-left:10%;
	height:134px;
	box-shadow: 0 0 2px 0 #ccc; 
	position:relative;
	padding:0;
	height:134px;
	margin-bottom:0px;
	.live-detail-img img{
		width:234px;
		height:132px;
	}
	.live-detail-time {
		>div > div {
			float:left;
		}
		img {
			float:left;
		}
		.detail-date {
			background:#c4c4c4;
			padding-left:3px;
			padding-right:3px;
			margin-left:2px;
			margin-right:2px;
			color:#fff;
		}
		
	}
	.live-detail-desc {
		height:100%;
		border-right:1px solid #dcdcdc;
		h4 {
			margin-top:19px;
		}
		span {
			font-size:14px;
			color:#777;
		}
	}
	.live-detail-image > img {
		width:234px;
		position:absolute;
		clip:rect(0,234px,132px,0);
	}
	.live-detail-time {
		border-right:1px solid #dcdcdc;
		height:100%;
		> div {
			margin-left:19px;
			margin-top:38px;
		}
	}

	.live-detail-enter {
			width:200px;
			height:100%;
			position:absolute;
			right:0;
			> div {
				position:absolute;
				margin-top:50px;
				right:10px;
				> span {
					margin-right:10px;
					color:#777;
				}
			}
		}
}
.live-week {
	padding:2px 3px;
	color:#fff;
}
.today {
	background-color:#428bca;
}
.tomorrow {
	background-color:#c5c5c5;
}
