@import "assets/components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "assets/scss/lib/grid30";
@import "assets/scss/lib/font-bvod";
@import "assets/scss/lib/icon";
@import "assets/scss/lib/navbar-bvod";
@import "assets/scss/lib/footer";
@import "assets/scss/lib/pagination";
@import "assets/scss/lib/video-card";

body {
    background: #FAF9F9;
}

.organizations {
    min-height: 500px;
}

.org-list ul {
    margin-bottom:0px;
}

.organizations.grid {
    min-height: 314px * 3;
}

.org-head-info a{
    color:#000;
}

.pagination {
    margin-top: 0px;
}

.img-banner{
    width:100%;
    position:relative;
    margin-top:68px;
}
.img-banner img{
    width:100%;
    max-height:200px;
}
.img-banner .title{
    position:absolute;
    top:60px;
    font-size:30px;
    color:#226e98;
}

.img-banner .desc{
position:absolute;
top:116px;
font-size:$font-size-large;
color:#226e98;
}
.org-list{
margin-top:68px;
}
.no-margin{
margin-top:0;
}
.org-list .user-icon{
width:14px;
height:14px;
background:url(../img/user.png) no-repeat;
display:inline-block;
margin-right:10px;
}
.org-list .clock-icon{
width:14px;
height:14px;
background:url(../img/clock.png) no-repeat;
display:inline-block;
margin-right:10px;
}
.org-list .head-view a{
width:42px;
height:24px;
float:left;
border:1px #ededed solid;
background: #fff
}
.org-list .head-view a.cur{
background:#1665ad;
border:1px #1665ad solid;
}
.org-list .head-view .list{
width:15px;
height:12px;
background:url(../img/list-icon-2.png) no-repeat;
display:inline-block;
margin:5px 13px;
}
.org-list .head-view .cur .list{
background:url(../img/list-icon.png) no-repeat;
}
.org-list .head-view .grid{
width:12px;
height:12px;
background:url(../img/grid-icon.png) no-repeat;
display:inline-block;
margin:5px 15px;
}
.org-list .head-view .cur .grid{
background:url(../img/grid-icon-2.png) no-repeat;
}
.org-list header{
height:62px;
border-bottom:1px solid #e6e5e5;
}
.org-list header div{
margin-top:30px;
}
.org-list header .head-tab{
    float:left;
    .pull-left {
        color: #ededed;
    }
}
.org-list header .head-view{
float:right;
}
.org-list header .head-page{
float:right;
}
.org-list header .head-tab .nav{
float:left;
font-size:16px;
color:#999;
width:80px;
text-align:center;
}
.org-list header .head-tab .nav.cur {
border-bottom:4px solid #4b7fc3;
color:#4b7fc3;
font-weight:bold;
padding-bottom:6px;
}

.org-list .list{
padding:0;
margin-top:20px;
list-style-type:none;
}

.org-list .list .item {
    margin: 0px;
    margin-bottom: 20px;
    background-color: white;
    border: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);

    &.last, &:last-child {
        margin-bottom: 0px;
    }
}

.org-list .list .item .left{
    border-right:1px solid #ededed;
}

.org-list .list .item .left {
    padding: 20px;
}

.org-list .list .item .left .row {
    margin-bottom: 20px;
}

.org-list .list .item .right{
    border-right:1px solid #ededed;
}

.org-list .list .item .right {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.org-list .list .item .org-head-img {
    @include square(124px);
    display: block;
    border: 3px solid #fff;
    border-radius: 8px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .3);
}

.org-list .list .item .org-head-img img{
    @include square(100%);
    border-radius: 8px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .3);
}

.org-list .list .item .org-head-info .name{
    margin-top:9px;
    display:block;
    font-size:20px;
    color:#000;
}
.org-list .list .item .org-head-info .owner{
display:block;
font-size:12px;
color:#999;
}

.org-list .list .item .video-info{
    width:200px;
}

.org-list .list .item .org-head-info .video-info .num{
    font-size: $font-size-h2;
}

.org-list .list .item .org-head-info .video-info div{
    float:left;
    height:50px;
    width:100px;
    margin:20px 0 0;
    padding:0 34px;
}

.org-list .list .item .org-head-info .video-info div:first-child{
padding-left:0;
border-right:1px solid #e6e5e5;
width:67px;
}

.org-list .list .item .org-head-desc {
    @include text-overflow;
    font-size:14px;
    background: #fafafa;
    padding: $padding-base-vertical $padding-base-horizontal;
    color: #999;
}

.org-list .list .item .org-head-desc-empty {
    @include text-overflow;
    font-size:14px;
    background: transparent;
    padding: $padding-base-vertical $padding-base-horizontal;
    color: $gray-light;
}

.org-list .list .item .video {
    @include video-card(200px, 124px);
}

/*grid page*/
.org-list .grid{
margin-top:20px;
}
.org-list .grid .item{
    position:relative;
    background-color:  #ffffff;
    border: none;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
    height: 294px;
    margin-bottom:20px;
    
    &.last, &:last-child {
        margin-bottom: 20px;
    }
}
.org-list .grid .item .img {
    position:relative;
    width:100%;
    height: 220px;
    padding-top: 15px;

    &:hover > a {
        display: block;
        text-decoration: none;
    }

    .img-wrapper {
        @include square(132px);
        @include center-block();
        border-radius: 50%;
        overflow: hidden;
        border: 3px solid #fff;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, .2);
    }
}

.org-list .grid .item .tab-list{
    position:relative;
    width:100%;
    height:75px;
    padding:10px 8px;
}

.org-list .grid .item .img img{
    @include square(126px);
    box-shadow: inset -1px 1px 3px rgba(0, 0, 0, .3);
}
.org-list .grid .item .img .name{
font-size:20px;
color:#000;
text-align:center;
margin:10px 0 5px;
}
.org-list .grid .item .video-info {
    text-align:center;
    color:#aaa;
    div {
        padding: 0px 5px;
    }
}
.org-list .grid .item .video-info div{
display:inline;
}
.org-list .grid .item .video-info span{
}
.org-list .grid .item a{
position:absolute;
height:100%;
width:100%;
background:#000;
@include opacity(.5);
top:0;
color:#fff;
font-size:18px;
text-align:center;
padding:70px 20px 0;
display:none;
}
.org-list .grid .item a.hover{
display:block;
}
.org-list .grid .item a span{
}
.org-list .grid .item .tab-list .tab{
    float:left;
    width:33.3%;
    padding: 2px;
    height:100%;
}
.org-list .grid .item .tab-list img{
width:100%;
height:100%;
}

/*detail page*/
.org-list .banner {
    @include clearfix();
    background-color:  #ffffff;
    border-width: 1px;
    border-color:  #ededed;
    border-style: solid;
    border: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
    margin-top:40px;
}

.org-list .banner .left{
    padding: 20px;
}
.org-list .banner .org-head-img img{
    @include square(100%);
}
.org-list .banner .org-head-info {
    margin-top: 20px;
}
.org-list .banner .org-head-info .name {
    font-size:20px;
    color:#000;
    display:block;
}

.org-list .banner .org-head-info .owner{
    display:block;
    font-size:16px;
    color:#999;
}

.org-list .banner .video,
.org-list .banner .played {
    margin-top: 20px;
    font-size: $font-size-large;
    border-left: 1px solid $gray-lighter;
    color: $gray;

    .num {
        font-size: $font-size-h2;
    }
}

.org-list .banner .right {
    height: 170px;
    border-left:1px solid $gray-lighter;
    padding-bottom: 20px;

    .desc-wrapper {
        width: 100%; 
        height: 100%;
        overflow: hidden;

        h4 {
            margin-top: 0px;
            font-weight: normal;
        }

        p {
            margin-bottom: 0px;
            line-height: 20px;
        }

        &:hover {
            overflow: initial;
        }

        .org-head-desc {
            padding: 20px;
            background: #fff;
        }
    }
}

.org-list .banner .org-head-desc .title {
    display:block;
    font-size:20px;
    color:#000;
}
.org-list .banner .org-head-desc .cont{
    display:block;
    font-size:12px;
    color:#000;
}
.org-list .detail{
    padding:0;
    margin-top:20px;
    list-style-type:none;
}
.org-list .detail .item{
    @include video-card(212px, 135px);
}

.org-list .detail .item .img{
width:100%;
height:125px;
position:relative;
}
.org-list .detail .item .img img{
    width:100%;
    height:100%;
}
.org-list .detail .item .img a {
    width:100%;
    position:absolute;
    bottom: 0px;
    background:#000;
    @include opacity(.5);
    color:$gray-lighter;
    padding: $padding-base-vertical $padding-base-horizontal;
    font-size:$font-size-base;
    cursor: auto;
    text-decoration: none;
}

.org-list .detail .item .info .title{
    font-size:$font-size-large;
    color:#000;
    margin-top:10px;
}

.org-list .detail .item .info .meta{
    font-size:$font-size-base;
    color: $gray-light;
}

.org-list .detail .item .info .meta .watch{
    float:right;
}
