@import "assets/components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "assets/components/bootstrap-sass-official/assets/stylesheets/bootstrap/_dropdowns";
@import "assets/scss/lib/grid30";
@import "assets/scss/lib/font-bvod";
@import "assets/scss/lib/icon";
@import "assets/scss/lib/navbar-bvod";
@import "assets/scss/lib/footer";
@import "assets/scss/lib/pagination";
@import "assets/scss/lib/video-card";



.video-empty{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    min-height:450px;

    span{
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    img{
        vertical-align: middle;
        margin-top:40px;
        margin-bottom:40px;
    }
}


.col-xs-6 .comment{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    opacity: .6;
    filter: alpha(opacity=60);
    background: #222;
    padding: 6px 12px;
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #fff;
}

.hello {
    width: 25%;
    padding: 0px 10px;
    float: left;
}


.collapse .active{
    color: #428bca;
    border-color: #ddd;
}
.collapse .active:hover{
    color: #428bca;
    border-color: #ddd;
}
.collapse .active:focus{
    color: #428bca;
    border-color: #ddd;
}
.collapse a:hover{
    color: #428bca;
}
.collapse a:focus{
    color: #428bca;
}
.list-group-item {
    cursor: pointer;
}
.list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
#accordion a.last {
    border-bottom-width:1px;
}
a.hi{
    border-bottom-width:1px;
}

.list-group ul li{
    list-style-type: none;
}

.list-group ul li a{
    color: #000;
}

.list-group ul li a.click{
    color: #428bca;
}

.org-list .row .list-group{
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
    
    div.collapse a{
        background-color: #FAF9F9;
    }
}

.list-group-item {
    border-bottom-width:0px;
}
.list-group .collapse a{
    margin-bottom:0px;
}
.org-list .row .list-group .caret{
    float:right;
    margin-top:8px;
}


.affix{
    top:0px;
}

.org-list .row .list-group .list-group-item{
    width: 212px;
}
body {
    background: #FAF9F9;
}

.pagination {
    margin-top: 0px;
}

.img-banner{
    position: relative;
    min-width: $container-lg;
    min-height:100px;

    > img {
      width: 100%;
      @media (max-width: $container-lg) {
        width: $container-lg;
      }
    }
    .container{
        height: 100%;
        position:absolute;
        top:0px;
        left:0px;

        .meta{
          @include size(400px, auto);
          position: absolute;
          top: 50%;
          left: 10px;
          color: #fff;

          .title{
              font-size:30px;
              color:#226e98;
          }

          .desc{
              font-size:$font-size-large;
              color:#226e98;
          }
        }
    }

    @media (min-width: $screen-lg-min) {
      .container {
        position: absolute;
        top: 0px;
        left: 50%;
        width: $container-lg;
        height: 100%;
        margin-left: -$container-lg/2;
      }
    }
}

.no-margin{
margin-top:0;
}
.org-list header{
height:62px;
border-bottom:1px solid #e6e5e5;
}
.org-list header div{
margin-top:30px;
}
.org-list header .head-tab{
    float:left;
    .pull-left {
        color: #ededed;
    }
}
.head-tab a:hover {
    color: #999;
}
.org-list header .head-page{
float:right;
}
.org-list header .head-tab .nav{
float:left;
font-size:16px;
color:#999;
width:80px;
text-align:center;
}
.org-list header .head-tab .nav.cur {
border-bottom:4px solid #4b7fc3;
color:#4b7fc3;
font-weight:bold;
padding-bottom:6px;
}

.org-list .org-head-desc {
    @include text-overflow;
    font-size:14px;
    background: #fafafa;
    padding: $padding-base-vertical $padding-base-horizontal;
    color: #999;
}

.org-list .org-head-desc-empty {
    @include text-overflow;
    font-size:14px;
    background: transparent;
    padding: $padding-base-vertical $padding-base-horizontal;
    color: $gray-light;
}

.org-list .detail{
    padding:0;
    margin-top:0px;
    list-style-type:none;
}
.org-list .detail .item{
    margin-top:20px;
    @include video-card(212px, 135px);
}

.org-list .detail .item .img{
width:100%;
height:125px;
position:relative;
}
.org-list .detail .item .img img{
    width:100%;
    height:100%;
}
.org-list .detail .item .img a {
    width:100%;
    position:absolute;
    bottom: 0px;
    background:#000;
    @include opacity(.5);
    color:$gray-lighter;
    padding: $padding-base-vertical $padding-base-horizontal;
    font-size:$font-size-base;
    cursor: auto;
    text-decoration: none;
}

.org-list .detail .item .info .title{
    font-size:$font-size-large;
    color:#000;
    margin-top:10px;
}

.org-list .detail .item .video-info .meta{
    margin-bottom:0px;
}
.org-list .detail .item .info .meta{
    font-size:$font-size-base;
    color: $gray-light;
}

.org-list .detail .item .info .meta .watch{
    float:right;
}

.col-xs-6 .video-info .watch{
    float:right;
}

.col-xs-6 .video-info .title{
    font-size:$font-size-large;
    color:#000;
    margin-top:10px;
}
