@import "assets/components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "assets/scss/lib/grid30";
@import "assets/scss/lib/font-bvod";
@import "assets/scss/lib/icon";
@import "assets/scss/lib/navbar-bvod";
@import "assets/scss/lib/footer";

body {
	background-color: rgb(250, 249, 249);
}
.video-content {
	height: 930px;
	margin-bottom: 30px;
	img {
		width: 100%;
		margin-top: 68px;
	}
	#player-wrapper {
		position: absolute;
		top: 140px;
		left: 0;
		right: 0;
		a {
			margin-left: auto;
			margin-right: auto;
			.jwdownloadlogo {
				display: none;
			}
		}
	}

}
.video-comment {
	margin-left: 300px;
	float: left;
	width: 40%;
}
.video-info {
}
.video-related {
}
.footer {
	clear: both;
}