@import "assets/components/bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "assets/scss/lib/grid30";
@import "assets/scss/lib/font-bvod";
@import "assets/scss/lib/icon";
@import "assets/scss/lib/navbar-bvod";
@import "assets/scss/lib/footer";

body {
	background-color: #FAF9F9;
}
.verify_password_container {
    display: none;
    width: 510px;
    height: 90px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -255px;
    z-index:9998;
    .password_box {
        border-radius: 5px;        
        z-index: 9999;
        width: 510px;
        height: 90px;
        position: relative;
        background-color: white;
        padding: 20px;

        #verify_password {
            @include size(470px,50px);
            background-color: #f5f5f5;
            border-radius: 4px;
            padding-left: 12px;
            border: 1px solid #d1d1d1;
            font-size: 14px;
            &:focus {
                outline:none;
            }
        }
        

        .submit_box {
            position: relative;
            @include size(30px,30px);
            top: -40px;
            left: -10px;
            float: right;
            background: url(../img/verify_password.png);
            border-radius: 50%;
            background-size: 100% 100%;
           
            #verify_submit {
                @include size(100%,100%);
                @include opacity(0);
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    
}
.video-content {
	height: 660px;
	margin-bottom: 40px;
	margin-top: 68px;
	background-color: #E7E7E7;

	$bg-width-indeed: 1600px;
	$bg-height-indeed: 725px;

	img {
		position: absolute;
		top: 68px;
		left: 0px;
		width: 100%;
		height: 660px;
		z-index: 1000;
	}

	.player-wrapper {
		border: 8px solid #fff;
		height: 526px;
		background-color: $gray-darker;
		box-shadow: 0px 1px 1px rgba(0, 0, 0, .2);
	}

	.container {
		h4 {
			margin: 20px 0px;
		}
		position: relative;
		z-index: 1010;
	}

	img.jwlogo {
		display: none;
	}

	.title {
		max-width: 400px;;
		@include text-overflow();
	}
}

.video-comment {
	margin-left: 300px;
	float: left;
	width: 40%;
}

.video-info {
}

.video-meta {
	margin-bottom: 40px;
}

@mixin card() {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, .2);
	padding: 20px;
}
.container .col-xs-12 .video-card .info .col-xs-18 {
    padding-top:3px;
    padding-bottom:5px;
}

.container .col-xs-12 .video-card .info .col-xs-18 h4{
    margin-top:8px;
}
.org-head-img img{
    @include square(100%);
}
.org-head-img {
    @include square(124px);
    display: block;
    border: 3px solid #fff;
    border-radius: 8px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, .3);
    width: 56px;
    height: 56px;
    border-bottom-width: 3px;
}
.org-head-img img{
    @include square(100%);
    border-radius: 8px;
    width:50px;
    height:50px;
    box-shadow: inset -1px 1px 4px rgba(0, 0, 0, .2);
}

.video-card {
	@include card();

	.info {
		border-bottom: 1px solid $gray-lighter;
	}

	small, .small {
		font-weight: normal;
	}

	.desc {
		padding: 5px 0px;
		p {
			color: $gray-light;
		}
		border-bottom: 1px solid $gray-lighter;
	}

	.views {
		text-align: center;
	}

	.comments {
		text-align: center;
	}

	.tags {
		padding: 5px 0px;
		h5 {
			margin-bottom: 0px;
		}

		h5.value {
			font-weight: normal;
			color: $gray-light;
			font-size: $font-size-base;
			.tag {
				background-color: rgb(245, 245, 245);
				padding: 1px 3px;
			}
		}
	}

	.category {
		padding: 5px 0px;
		border-bottom: 1px solid $gray-lighter;

		h5.value {
			font-weight: normal;
			color: $gray-light;
			font-size: $font-size-base;
		}
	}
}

.related-video {
	@include card();
	.title {
		height: 40px;
    	overflow: hidden;
		padding-bottom: 10px;
		margin-bottom: 10px;
		p {
			font-weight: bold;
			letter-spacing: 1px;
			word-break: break-all;
		}
	}
	
	.info {
		padding-bottom: 10px;
		padding-top: 10px;
	}
	.info:not(:last-child) {
		border-bottom: 1px solid #eee;
	}
	.name {
		color: $gray-light;
	}
	.video-info {
		color: $gray-light;
	}
}

.footer {
	clear: both;
}

.form-group {
	margin-bottom: 8px;
}
