<div class="footer">
    <div class="container">
        <div class="col-sm-10 icon" style="text-align: center;padding-top: 12px;">
            <img src="{{ STATIC_URL }}img/footer_icon.png" alt="">
        </div>
        <div class="col-sm-20" style="padding: 30px 0px;">
            <p>
                <a href="#">北航官网</a>
                <span class="seperator">|</span>
                <a href="#">网络中心</a>
                <span class="seperator">|</span>
                <a href="#">课程中心</a>
                <span class="seperator">|</span>
                <a href="#">ihome社区</a>
                <span class="seperator">|</span>
                <a href="#">邮件系统</a>
                <span class="seperator">|</span>
                <a href="#">问题反馈</a>
                <span class="seperator">|</span>
                <a href="#">申请组织</a>
                <span class="seperator">|</span>
                <a href="#">联系我们</a>
            </p>
            <p style="margin-bottom: 0px;">
                ©2014 北京航空航天大学
            </p>
        </div>
    </div>
</div>