<footer class="footer container">
    <div class="container">
        <div class="col-xs-10 icon" style="text-align: center;padding-top: 12px;">
            <img src="{{ STATIC_URL }}img/footer_icon.png" alt="">
        </div>
        <div class="col-xs-20" style="padding: 30px 0px;">
            <p>
                <a href="http://www.buaa.edu.cn/" target="_blank">北航官网</a>
                <span class="seperator">|</span>
                <a href="http://nic.buaa.edu.cn/" target="_blank">网络中心</a>
                <span class="seperator">|</span>
                <a href="http://course.buaa.edu.cn/" target="_blank">课程中心</a>
                <span class="seperator">|</span>
                <a href="http://i.buaa.edu.cn/" target="_blank">ihome社区</a>
                <span class="seperator">|</span>
                <a href="http://mail.buaa.edu.cn/" target="_blank">邮件系统</a>
                <span class="seperator">|</span>
                <a href="mailto:buaawebsite@buaa.edu.cn" target="_blank">问题反馈</a>
                <span class="seperator">|</span>
                <a href="mailto:buaawebsite@buaa.edu.cn" target="_blank">申请组织</a>
                <span class="seperator">|</span>
                <a href="mailto:nic@buaa.edu.cn" target="_blank">联系我们</a>
            </p>
            <p style="margin-bottom: 0px;">
                ©2014 北京航空航天大学
            </p>
        </div>
    </div>
</footer>
