<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>视频中心</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/index.css">
    {% include "polyfills.html" %}
</head>
<body>
    {% include "navbar.html" with nav=request.nav %}

    <div class="banner">
        <div id="ads" class="carousel carousel-fade slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for ad in ads %}
                <div {% if forloop.first %}
                     class="active item"
                     {% else %}
                     class="item"
                     {% endif %}>

                    <img src="http://bvod.limijiaoyin.com/images/{{ ad.image }}" 
                         onError="this.src='http://placehold.it/1915x567&text={{ forloop.counter }}';">

                    <div class="container">
                        <div class="meta">
                            <h3 class="ad-title">{{ ad.title }}</h3>
                            <p class="ad-desc">{{ ad.desc }}</p>
                        </div>
                    </div>
                    
                    <a href="{{ ad.url }}" class="btn-play-lg"></a>
                </div>
                {% endfor %}
            </div>

            <a class="left carousel-control" href="#ads" role="button" data-slide="prev">
                <i class="bvod-icon-arrow-left"></i>
            </a>
            <a class="right carousel-control" href="#ads" role="button" data-slide="next">
                <i class="bvod-icon-arrow-right"></i>
            </a>
        </div>
    </div>

    {% include "video-grid.html" with title="精选视频" sub_title="Featured Videos" content=featured.media %}

    {% include "video-list.html" with title="最新视频" sub_title="Recently Added Videos" content=recently.media %}

    {% include "video-grid.html" with title="热门视频" sub_title="Popular Videos" more="更多热门" content=popular.media %}

    <section class="departments container">
        <div class="header">
            <a href="organization/list" class="h4 more pull-right">
                更多组织 <i style="margin-left: 5px;" class="icon-more"></i>
            </a>
            <h4> 热门组织  <span class="small">Popular Organization</span> </h4>
        </div>
        <div class="department-list-wrapper">
        <div class="department-list row">
            {% for item in departments %}
            <div {% if forloop.last %} class="last pull-left department"
                 {% else %} class="pull-left department" {% endif %}>
                <a href="organization/{{ item.id }}">
                    <img src="http://bvod.limijiaoyin.com/images/{{ item.avatar }}" alt="" onError="this.src='http://placehold.it/173x173&text=!'">
                    <i class="btn-play"></i>
                </a>
                <div class="title">{{ item.title }}</div>
            </div>
            {% endfor %}
        </div>
        </div>
    </section>

    {% include "footer.html" %}

    <script type="text/javascript" src="{{ STATIC_URL }}js/require.config.js">
    </script>
    <script type="text/javascript" src="{{ STATIC_URL }}components/requirejs/require.js">
    </script>
    <script>require(["js/index"]);</script>
</body>
</html>
