<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>视频中心</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/org-grid.css">
    {% include "polyfills.html" %}
</head>
<body>
{% include "navbar.html" with nav=request.nav %}

<section class="org-list container">
  <header>
    <div class="head-tab">
      {% if choicetype == "new" %}
        <a href="?choicetype=new"><span class="nav cur">最新</span></a>
      {% else %}
        <a href="?choicetype=new"><span class="nav">最新</span></a>
      {% endif %}
        <span class="pull-left">|</span>
      {% if choicetype == "hot" %}
        <a href="?choicetype=hot"><span class="nav cur">最热</span></a>
      {% else %}
        <a href="?choicetype=hot"><span class="nav">最热</span></a>
      {% endif %}
        <span class="pull-left">|</span>
      {% if choicetype == "good" %}
        <a href="?choicetype=good"><span class="nav cur">好评</span></a>
      {% else %}
        <a href="?choicetype=good"><span class="nav">好评</span></a>
      {% endif %}
    </div>
    <div class="head-view">
      <a href="list?choicetype={{ choicetype }}"><i class="list"></i></a>
      <a class="cur" href="grid?choicetpe={{ choicefield}}"><i class="grid"></i></a>
    </div>
  </header>

  <div class="organizations grid row">
    {% for org in orglist %}
    <div class="col-xs-6">

      {% if forloop.count >= 10 %}
      <div class="item last">
      {% else %}
      <div class="item">
      {% endif %}

        <div class="img">
          <div class="img-wrapper">
            <img src="http://bvod.limijiaoyin.com/images/{{ org.avatar }}"
                onError="this.src='http://placehold.it/132&text=!'">
          </div>
          <div class="name">{{ org.name }}</div>
          <div class="video-info">
            <div class="video"><span class="num">
              {{ org.video_count }}</span><span>视频</span>
            </div>|
            <div class="played">
              <span class="num">{{ org.play_count }}</span><span>播放</span>
            </div>
          </div>
          <a href="/organization/{{ org.id }}">
            <span>{{ org.desc }}</span>
          </a>
        </div>
        <div class="tab-list">
          <div class="tab">
            <img src="../images/video-cover-1.png" onError="this.src='http://placehold.it/30&text=!'">
          </div>
          <div class="tab">
            <img src="../images/video-cover-1.png" onError="this.src='http://placehold.it/30&text=!'">
          </div>
          <div class="tab">
            <img src="../images/video-cover-1.png" onError="this.src='http://placehold.it/30&text=!'">
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <footer class="pagination-wrapper">
    {% include "pagination.html" %}
  </footer>
</section>

{% include "footer.html" %}
</body>
</html>
