<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>北航视频</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/org-list.css">
    {% include "polyfills.html" %}
</head>
<body>

{% include "navbar.html" with nav=request.nav %}

<div class="img-banner">
  <img src="{{ STATIC_URL }}img/org-banner.png">
  <div class="container">
    <div class="title">寻找最热小组</div>
    <div class="desc">34门学科&nbsp55个课程</div>
  </div>
</div>
<section class="org-list container no-margin">
  <header>
    <div class="head-tab pull-left">
      {% if type == "new" %}
        <a href="typee=new"><span class="nav cur">最新</span></a>
      {% else %}
        <a href="?type=new"><span class="nav">最新</span></a>
      {% endif %}
        <span class="pull-left">|</span>
      {% if type == "hot" %}
        <a href="?type=hot"><span class="nav cur">最热</span></a>
      {% else %}
        <a href="?type=hot"><span class="nav">最热</span></a>
      {% endif %}
        <span class="pull-left">|</span>
      {% if type == "good" %}
        <a href="?type=good"><span class="nav cur">好评</span></a>
      {% else %}
        <a href="?type=good"><span class="nav">好评</span></a>
      {% endif %}
    </div>
    <div class="head-view">
      <a class="cur" href="list?type={{ type }}"><i class="list"></i></a>
      <a href="grid?type={{ type }}"><i class="grid"></i></a>
    </div>
  </header>
  <ul class="organizations list">
    {% if orglist %}
    {% for item in orglist %}

    {% if forloop.last %}
    <li class="last item row">
    {% else %}
    <li class="item row">
    {% endif %}

      <div class="left col-xs-12">
        <div class="row">
          <div class="col-xs-10">
            <a href="/org/{{ item.id }}" class="org-head-img">
              <img onError="this.src='http://placehold.it/150&text=!'"
                src="{{ item.avatar }}">
            </a>  
          </div>
          
          <div class="col-xs-20">
            <div class="org-head-info">
              <span class="name">{{ item.name }}</span>
              <div class="video-info">
                <div class="video"><span class="num">{{ item.media }} </span><span>视频</span></div>
                <div class="played"><span class="num">{{ item.views }} </span><span>播放</span></div>
              </div>
            </div>
          </div>  
        </div>
        
        {% if item.description %}        
        <div class="org-head-desc">{{ item.description }}</div>
        {% else %}
        <div class="org-head-desc-empty">&nbsp;</div>
        {% endif%}
      </div>

      <div class="right col-xs-18">
        {% if item.medias %}
        {% for media in item.medias %}
        {% include 'video-card.html' with video=media class='video col-xs-10' %}
        {% endfor %}
        {% else %}
          <div class="col-xs-30" style="text-align: center">
            <img src="{{ STATIC_URL }}img/org_empty.png" style="margin-top:40px;">
          </div>
        {% endif %}
        <!--
        <div class="video-large col-xs-10">
          <div class="img">
            <img src="../images/video-cover-1.png">
            <a href="#">{{ media.description_plain }}</a>
          </div>
          <div class="info">
            <div class="title">{{ media.title }}</div>
            <div class="meta">
              <div class="watch">
                <i class="icon-watch"></i>  {{ media.views }}
              </div>
              {{ media.author }}
            </div>
          </div>
        </div>
        -->
      </div>
    </li>
    {% endfor %}
    {% else %}
        <div class="col-xs-30" style="text-align: center">
          <img src="{{ STATIC_URL }}img/org_empty.png" style="margin-top:40px;">
        </div>
    {% endif %}

  </ul>
  {% if count > 5%}
  <footer class="pagination-wrapper" style="text-align: center;">
    {% include "pagination.html" %}
  </footer>
  {% else %}
  <div style="height:20px;">
  </div>
  {% endif %}
</section>
{% include "footer.html" %}
</body>
</html>
