<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>北航视频</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/org-detail.css">
    {% include "polyfills.html" %}
</head>
<body>
{% include "navbar.html" with nav=request.nav %}

<section class="org-list container">
  <div class="banner">
    <div class="row">
      <div class="col-xs-14">
        <div class="left">
          <div class="row">
            <div class="col-xs-9">
              <a class="org-head-img">
                <img src="{{ department.avatar }}"
                    onError="this.src='http://placehold.it/200&text=!'">
              </a>
            </div>
            <div class="org-head-info col-xs-11">
              <span class="name">{{ department.name }}</span>
              <span class="owner"><i class="clock-icon"></i>{{ department.created_on }}</span>
            </div>
            <div class="video col-xs-5">
              <div class="num">{{ department.media }}</div><div>视频</div>
            </div>
            <div class="played col-xs-5">
              <div class="num">{{ department.views }}</div><div>播放</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-16">
        <div class="right">
          <div class="desc-wrapper">
            <div class="org-head-desc">
              <h4>简介</h4>
              {% if department.description %}
              <p>{{ department.description }}</p>
              {% else %}
              <p>该组织目前没有简介！</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <header>
    <div class="head-tab">
      {% if type == "new" %}
      <a href="?type=new"><span class="nav cur">最新</span></a>
      {% else %}
      <a href="?type=new"><span class="nav">最新</span></a>
      {% endif %}
      <span class="pull-left">|</span>
      {% if type == "hot" %}
      <a href="?type=hot"><span class="nav cur">最热</span></a>
      {% else %}
      <a href="?type=hot"><span class="nav">最热</span></a>
      {% endif %}
      <span class="pull-left">|</span>
      {% if type == "good" %}
      <a href="?type=good"><span class="nav cur">好评</span></a>
      {% else %}
      <a href="?type=good"><span class="nav">好评</span></a>
      {% endif %}
    </div>
  </header>

  <div class="detail row">
    {% if count == 0 %}
    <div class="col-xs-30" style="height: 300px; text-align: center">
       <img src="{{ STATIC_URL }}img/org_empty.png" style="margin-top:50px;">
    </div>
    {% else %}
    {% for video in medias %}
    <div class="col-xs-6">
      <div class="item">
        <!--<input type="text" class="hide"/>-->
        <a class="video-thumbnail" href="/video/{{ video.id }}">
          <img src="{{ video.thumbs.m.url }}" 
              onError="this.className='error';this.src='http://placehold.it/212x135&text=!'">    
          <div class="comment">{{ video.description_plain }}</div>
        </a>
        <div class="video-info">
            <div class="title">{{ video.title }}</div>
            <div class="meta clearfix">
                <div class="watch">
                    <i class='icon-watch'></i>&nbsp;{{ video.views }}
                </div>
                {{ video.author }}
            </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>

  {% if count > 10 %}
  <footer class="pagination-wrapper" style="text-align: center;">{% include "pagination.html" %}</footer>
  {% endif %}
</section>
{% include "footer.html" %}
</body>
</html>
