<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>北航视频</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/org-detail.css">
    {% include "polyfills.html" %}
</head>
<body>
{% include "navbar.html" with nav=request.nav type="normal"%}

<section class="org-list container" id="con">
  <div class="banner">
    <div class="row">
      <div class="col-xs-14">
        <div class="left">
          <div class="row">
            <div class="col-xs-9">
              <a class="org-head-img">
                <img src="{{ department.avatar }}"
                    onError="this.src='http://placehold.it/200&text=!'">
              </a>
            </div>
            <div class="org-head-info col-xs-11">
              <span class="name">{{ department.name }}</span>
              <span class="owner"><i class="clock-icon"></i>{{ department.created_on }}</span>
            </div>
            <div class="video col-xs-5">
              <div class="num">{{ department.media }}</div><div>视频</div>
            </div>
            <div class="played col-xs-5">
              <div class="num">{{ department.views }}</div><div>播放</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-16">
        <div class="right">
          <div class="desc-wrapper">
            <div class="org-head-desc">
              <h4>简介</h4>
              {% if department.description %}
              <p>{{ department.description }}</p>
              {% else %}
              <p>该组织目前没有简介！</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <header>
    <div class="head-tab">
        <a href="?type=new"><span {% if type == 'new' %} class="nav cur" {% else %} class="nav" {% endif %}>最新</span></a>
        <span class="pull-left">|</span>
        <a href="?type=hot"><span {% if type == "hot" %} class="nav cur" {% else %} class="nav" {% endif %}>最热</span></a>
        <span class="pull-left">|</span>
        <a href="?type=good"><span {% if type == "good" %} class="nav cur" {% else %} class="nav" {% endif %}>好评</span></a>
    </div>
  </header>

  <div class="detail row">
  <div class="col-xs-30"></div>
    {% if count == 0 %}
    <div class="col-xs-30 org-empty">
       <span></span>
       <img src="{{ STATIC_URL }}img/org_empty.png">
    </div>
    {% else %}
    {% for video in medias %}
    <div class="col-xs-6">
      <div class="item">
        <!--<input type="text" class="hide"/>-->
        <a class="video-thumbnail" href="/video/{{ video.id }}">
          <img src="{{ video.thumbs.m.url }}" 
              onError="this.className='error';this.src='http://placehold.it/212x135&text=!'">    
          <div class="comment">{% if video.abstract != None %}{{ video.abstract }}{% else %}&nbsp;{% endif %}</div>
        </a>
        <div class="video-info">
            <div class="title">{{ video.title }}</div>
            <div class="meta clearfix">
                <div class="watch">
                    <i class='icon-watch'></i>&nbsp;{{ video.views }}
                </div>
                {{ video.department.name }}
            </div>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
  </div>

  {% if count > 20 %}
  <footer class="pagination-wrapper page" style="text-align: center;">{% include "pagination.html" %}</footer>
  {% else %}
      <div style="height:40px;"></div>
  {% endif %}
</section>
{% include "footer.html" %}
<script type="text/javascript" src="{{ STATIC_URL }}components/requirejs/require.js">
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/org-detail.js"></script>
<script>require(["org-detail"]);</script>
</body>
</html>
