<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>视频中心</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/org.css">
    {% include "polyfills.html" %}
</head>
<body>

{% include "navbar.html" with nav=request.nav %}

<div class="img-banner">
  <img src="{{ STATIC_URL }}img/org-banner.png">
  <div class="container">
    <div class="title">寻找最热小组</div>
    <div class="desc">34门学科&nbsp55个课程</div>
  </div>
</div>
<section class="org-list container no-margin">
  <header>
    <div class="head-tab pull-left">
      {% if choicetype == "new" %}
        <a href="?choicetype=new"><span class="nav cur">最新</span></a>
      {% else %}
        <a href="?choicetype=new"><span class="nav">最新</span></a>
      {% endif %}
        <span class="pull-left">|</span>
      {% if choicetype == "hot" %}
        <a href="?choicetype=hot"><span class="nav cur">最热</span></a>
      {% else %}
        <a href="?choicetype=hot"><span class="nav">最热</span></a>
      {% endif %}
        <span class="pull-left">|</span>
      {% if choicetype == "good" %}
        <a href="?choicetype=good"><span class="nav cur">好评</span></a>
      {% else %}
        <a href="?choicetype=good"><span class="nav">好评</span></a>
      {% endif %}
    </div>
    <div class="head-view">
      <a class="cur" href="list?choicetype={{ choicetype }}"><i class="list"></i></a>
      <a href="grid?choicetype={{ choicetype }}"><i class="grid"></i></a>
    </div>
  </header>
  <ul class="organizations list">
    {% for item in orglist %}

    {% if forloop.last %}
    <li class="last item row">
    {% else %}
    <li class="item row">
    {% endif %}

      <div class="left col-xs-12">
        <div class="row">
          <div class="col-xs-10">
            <a href="/organization/{{ item.id }}" class="org-head-img">
              <img onError="this.src='http://placehold.it/150&text=!'"
                src="http://bvod.limijiaoyin.com/images/{{ item.avatar }}">
            </a>  
          </div>
          
          <div class="col-xs-20">
            <div class="org-head-info">
              <span class="name">{{ item.name }}</span>
              <div class="video-info">
                <div class="video"><span class="num">67</span><span>视频</span></div>
                <div class="played"><span class="num">55</span><span>播放</span></div>
              </div>
            </div>
          </div>  
        </div>
        
        {% if item.desc %}
        <div class="org-head-desc">{{ item.desc }}</div>
        {% endif %}
      </div>

      <div class="right col-xs-18">
        {% for media in item.media %}
        {% include 'video-card.html' with video=media class='video col-xs-10' %}
        <!--
        <div class="video-large col-xs-10">
          <div class="img">
            <img src="../images/video-cover-1.png">
            <a href="#">{{ media.description_plain }}</a>
          </div>
          <div class="info">
            <div class="title">{{ media.title }}</div>
            <div class="meta">
              <div class="watch">
                <i class="icon-watch"></i>  {{ media.views }}
              </div>
              {{ media.author }}
            </div>
          </div>
        </div>
        -->
        {% endfor %}
      </div>
    </li>
    {% endfor %}
  </ul>
  <footer class="pagination-wrapper" style="text-align: center;">
    {% include "pagination.html" %}
  </footer>
</section>
{% include "footer.html" %}
</body>
</html>
