<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>视频中心</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/org.css">
    {% include "polyfills.html" %}
</head>
<body>
{% include "navbar.html" with nav=request.nav %}

<section class="org-list container">
  <header>
    <div class="head-tab">
      <a href="#"><span class="nav">最新</span></a>
      <span class="pull-left">|</span>
      <a href="#"><span class="nav">最热</span></a>
      <span class="pull-left">|</span>
      <a href="#"><span class="nav cur">好评</span></a>
    </div>
    <div class="head-view">
      <a href="?viewtype=list"><i class="list"></i></a>
      <a class="cur" href="?viewtype=grid"><i class="grid"></i></a>
    </div>
  </header>

  <div class="grid row">
    {% for org in orglist %}
    <div class="col-xs-6">
      <div class="item">
        <div class="img">
          <div class="img-wrapper">
            <img src="http://bvod.limijiaoyin.com/images/{{ org.avatar }}"
                onError="this.src='http://placehold.it/132&text=!'">
          </div>
          <div class="name">健康北航人</div>
          <div class="video-info">
            <div class="video"><span class="num">
              67</span><span>视频</span>
            </div>|
            <div class="played">
              <span class="num">55</span><span>播放</span>
            </div>
          </div>
          <a click=javascript:void(0)>
            <span>爱健康爱运动，这里有一群热爱运动得健儿</span>
          </a>
        </div>
        <div class="tab-list">
          <div class="tab">
            <img src="../images/video-cover-1.png" onError="this.src='http://placehold.it/30&text=!'">
          </div>
          <div class="tab">
            <img src="../images/video-cover-1.png" onError="this.src='http://placehold.it/30&text=!'">
          </div>
          <div class="tab">
            <img src="../images/video-cover-1.png" onError="this.src='http://placehold.it/30&text=!'">
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <footer style="text-align: center;">{% include "pagination.html" %}</footer>
</section>

{% include "footer.html" %}
</body>
</html>

