<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>视频中心</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/org.css">
    {% include "polyfills.html" %}
</head>
<body>
{% include "navbar.html" with nav=request.nav %}

<section class="org-list container">
  <header>
    <div class="head-tab">
      <span class="nav cur">最新</span>
      <span class="nav">最热</span>
      <span class="nav">好评</span>
    </div>
    <div class="head-page">
      <span>1/6</span>
      <span>上一页</span>
      <span>下一页</span>
    </div>
    <div class="head-view">
      <a href="#">list<i class="list"></i></a>
      <a href="#">grid<i class="grid"></i></a>
    </div>
  </header>
  <ul class="grid row col-xs-30">
    <li class="col-xs-6">
      <div class="item">
        <div class="img">
          <img src="../images/video-cover-1.png">
          <div class="name">健康北航人</div>
          <div class="video-info">
            <div class="video"><span class="num">67</span><span>视频</span></div>
            |
            <div class="played"><span class="num">55</span><span>播放</span></div>
          </div>
          <a class="hover" href="#"><span>爱健康爱运动，这里有一群热爱运动得健儿</span></a>
        </div>
        <div class="tab-list">
          <div class="tab">
            <img src="../images/video-cover-1.png">
          </div>
          <div class="tab">
            <img src="../images/video-cover-1.png">
          </div>
          <div class="tab">
            <img src="../images/video-cover-1.png">
          </div>
        </div>
      </div>
    </li>
    <li class="col-xs-6">
      <div class="item">
        <div class="img">
          <img src="../images/video-cover-1.png">
          <div class="name">健康北航人</div>
          <div class="video-info">
            <div class="video"><span class="num">67</span><span>视频</span></div>
            |
            <div class="played"><span class="num">55</span><span>播放</span></div>
          </div>
          <a href="#"><span>爱健康爱运动，这里有一群热爱运动得健儿</span></a>
        </div>
        <div class="tab-list">
          <div class="tab">
            <img src="../images/video-cover-1.png">
          </div>
          <div class="tab">
            <img src="../images/video-cover-1.png">
          </div>
          <div class="tab">
            <img src="../images/video-cover-1.png">
          </div>
        </div>
      </div>
    </li>
    <li class="col-xs-6">
      <div class="item">
        <div class="img">
          <img src="../images/video-cover-1.png">
          <div class="name">健康北航人</div>
          <div class="video-info">
            <div class="video"><span class="num">67</span><span>视频</span></div>
            |
            <div class="played"><span class="num">55</span><span>播放</span></div>
          </div>
          <a href="#"><span>爱健康爱运动，这里有一群热爱运动得健儿</span></a>
        </div>
        <div class="tab-list">
          <div class="tab">
            <img src="../images/video-cover-1.png">
          </div>
          <div class="tab">
            <img src="../images/video-cover-1.png">
          </div>
          <div class="tab">
            <img src="../images/video-cover-1.png">
          </div>
        </div>
      </div>
    </li>
    <li class="col-xs-6">
      <div class="item">
        <div class="img">
          <img src="../images/video-cover-1.png">
          <div class="name">健康北航人</div>
          <div class="video-info">
            <div class="video"><span class="num">67</span><span>视频</span></div>
            |
            <div class="played"><span class="num">55</span><span>播放</span></div>
          </div>
          <a href="#"><span>爱健康爱运动，这里有一群热爱运动得健儿</span></a>
        </div>
        <div class="tab-list">
          <div class="tab">
            <img src="../images/video-cover-1.png">
          </div>
          <div class="tab">
            <img src="../images/video-cover-1.png">
          </div>
          <div class="tab">
            <img src="../images/video-cover-1.png">
          </div>
        </div>
      </div>
    </li>
    <li class="col-xs-6">
      <div class="item">
        <div class="img">
          <img src="../images/video-cover-1.png">
          <div class="name">健康北航人</div>
          <div class="video-info">
            <div class="video"><span class="num">67</span><span>视频</span></div>
            |
            <div class="played"><span class="num">55</span><span>播放</span></div>
          </div>
          <a href="#"><span>爱健康爱运动，这里有一群热爱运动得健儿</span></a>
        </div>
        <div class="tab-list">
          <div class="tab">
            <img src="../images/video-cover-1.png">
          </div>
          <div class="tab">
            <img src="../images/video-cover-1.png">
          </div>
          <div class="tab">
            <img src="../images/video-cover-1.png">
          </div>
        </div>
      </div>
    </li>
    <li class="col-xs-6">
      <div class="item">
        <div class="img">
          <img src="../images/video-cover-1.png">
          <div class="name">健康北航人</div>
          <div class="video-info">
            <div class="video"><span class="num">67</span><span>视频</span></div>
            |
            <div class="played"><span class="num">55</span><span>播放</span></div>
          </div>
          <a href="#"><span>爱健康爱运动，这里有一群热爱运动得健儿</span></a>
        </div>
        <div class="tab-list">
          <div class="tab">
            <img src="../images/video-cover-1.png">
          </div>
          <div class="tab">
            <img src="../images/video-cover-1.png">
          </div>
          <div class="tab">
            <img src="../images/video-cover-1.png">
          </div>
        </div>
      </div>
    </li>
    <li class="col-xs-6">
      <div class="item">
        <div class="img">
          <img src="../images/video-cover-1.png">
          <div class="name">健康北航人</div>
          <div class="video-info">
            <div class="video"><span class="num">67</span><span>视频</span></div>
            |
            <div class="played"><span class="num">55</span><span>播放</span></div>
          </div>
          <a href="#"><span>爱健康爱运动，这里有一群热爱运动得健儿</span></a>
        </div>
        <div class="tab-list">
          <div class="tab">
            <img src="../images/video-cover-1.png">
          </div>
          <div class="tab">
            <img src="../images/video-cover-1.png">
          </div>
          <div class="tab">
            <img src="../images/video-cover-1.png">
          </div>
        </div>
      </div>
    </li>
    <li class="col-xs-6">
      <div class="item">
        <div class="img">
          <img src="../images/video-cover-1.png">
          <div class="name">健康北航人</div>
          <div class="video-info">
            <div class="video"><span class="num">67</span><span>视频</span></div>
            |
            <div class="played"><span class="num">55</span><span>播放</span></div>
          </div>
          <a href="#"><span>爱健康爱运动，这里有一群热爱运动得健儿</span></a>
        </div>
        <div class="tab-list">
          <div class="tab">
            <img src="../images/video-cover-1.png">
          </div>
          <div class="tab">
            <img src="../images/video-cover-1.png">
          </div>
          <div class="tab">
            <img src="../images/video-cover-1.png">
          </div>
        </div>
      </div>
    </li>
    <li class="col-xs-6">
      <div class="item">
        <div class="img">
          <img src="../images/video-cover-1.png">
          <div class="name">健康北航人</div>
          <div class="video-info">
            <div class="video"><span class="num">67</span><span>视频</span></div>
            |
            <div class="played"><span class="num">55</span><span>播放</span></div>
          </div>
          <a href="#"><span>爱健康爱运动，这里有一群热爱运动得健儿</span></a>
        </div>
        <div class="tab-list">
          <div class="tab">
            <img src="../images/video-cover-1.png">
          </div>
          <div class="tab">
            <img src="../images/video-cover-1.png">
          </div>
          <div class="tab">
            <img src="../images/video-cover-1.png">
          </div>
        </div>
      </div>
    </li>
  </ul>
  <footer>
  <div class="foot-page"><span>上一页</span><span>1</span><span>1</span><span>1</span><span>1</span><span>下一页</span></div>
  </footer>
</section>
{% include "footer.html" %}
</body>
</html>

