<section class="video-grid">
    <div class="header">
        {% if more %}
        <a href="#" class="h4 more pull-right">{{ more }}<i class="icon-more"></i></a>
        {% endif %}
        <h4>{{ title }}  <span class="small">{{ sub_title }}</span></h4>
    </div>
    <div class="grid row">
        {% for item in content %}
        {% if forloop.first %}
        <div class="col-xs-12">
            <div class="video-large">
                <img src="{{item.thumbs.l.url}}" 
                    onError="this.className='error';this.src='http://placehold.it/444x377&text=!'">
                <a href="{{item.url}}" class="btn-play"></a>
                <div class="info">
                    <div class='title'>{{item.title}}</div>
                    <div class='meta'>
                        <div class="watch">
                            <i class='icon-watch-reverse'></i> {{item.views}}
                        </div>
                        {{item.description_plain}}
                    </div>
                </div>
            </div>
        </div>
        {% else %}
            {% if forloop.counter == 2 %}
            <div class="col-xs-18">
                <div class="row">
            {% endif %}
            <div class="col-xs-10 video">
                <div class="video-thumbnail">
                    <img src="{{item.thumbs.m.url}}" 
                        onError="this.className='error';this.src='http://placehold.it/212x135&text=!'">    
                    <div class="title">{{item.title}}</div>
                </div>
                <div class="video-info">
                    <div class="comment">{{item.slug}}</div>
                    <div class="meta clearfix">
                        <div class="watch">
                            <i class='icon-watch'></i> {{item.views}}
                        </div>
                        {{item.description_plain}}
                    </div>
                </div>
            </div>
            {% if forloop.last %}
                </div>
            </div>
            {% endif %}
        {% endif %}
        {% endfor %}
    </div>
</section>
