<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>视频中心</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/videos.css">
    {% include "polyfills.html" %}
</head>
<body>
{% include "navbar.html" with nav=request.nav %}

<div class="img-banner">
  <img src="{{ STATIC_URL }}img/org-banner.png">
  <div class="container">
    <div class="title">北航课程大全</div>
    <div class="desc">34门学科&nbsp55个课程</div>
  </div>
</div>
<section class="org-list container no-margin">
  <div class="row">
    <div class="col-xs-6">
        <div class="row list-group" id="accordion" data-spy="affix" data-offset-top="169" data-offset-bottom="100">
          {% if category_slug == '' %}
            <a href="/video" class="active list-group-item" id="all">
              全部视频
            </a>
          {% else %}
            <a href="/video" class="list-group-item" id="all">
              全部视频
            </a>
          {% endif  %}
          {% for item in category %}
            {% if item.children %}
              {% if category_slug == item.slug %}
                <a data-target="#{{ item.slug }}" class="list-group-item active dropup" id="{{ item.slug }}" data-toggle="collapse">
                  {{ item.name }}<b class="caret"></b>
                </a>
                <div class="collapse in" id="{{ item.slug }}">
              {% else %}
                <a data-target="#{{ item.slug }}" class="list-group-item" id="{{ item.slug }}" data-toggle="collapse">
                  {{ item.name }}<b class="caret"></b>
                </a>
                <div class="collapse" id="{{ item.slug }}">
              {% endif %}
                {% for subitem in item.children %}
                  {% if sub_category_slug == subitem.slug %}
                    <a class="list-group-item active" style="background-color:#FAF9F9;"  href="/video/{{ item.slug }}/{{ subitem.slug }}">{{ subitem.name }}</a>
                  {% else %}
                    <a class="list-group-item" style="background-color:#FAF9F9;" href="/video/{{ item.slug }}/{{ subitem.slug }}">{{ subitem.name }}</a>
                  {% endif %}
                {% endfor %}
              </div>
            {% else %}
              {% if category_slug == item.slug %}
                <a href="/video/{{ item.slug }}" class="active list-group-item">
                  {{ item.name }}
                </a>
              {% else %}
                <a href="/video/{{ item.slug }}" class="list-group-item">
                  {{ item.name }}
                </a>
              {% endif %}
            {% endif %}
          {% endfor %}
        </div>
    </div>
    <div class="col-xs-24 content">
      <header>
        <div class="head-tab">
          {% if choicetype == "new" %}
            <a href="?choicetype=new"><span class="nav cur">最新</span></a>
          {% else %}
            <a href="?choicetype=new"><span class="nav">最新</span></a>
          {% endif %}
            <span class="pull-left">|</span>
          {% if choicetype == "hot" %}
            <a href="?choicetype=hot"><span class="nav cur">最热</span></a>
          {% else %}
            <a href="?choicetype=hot"><span class="nav">最热</span></a>
          {% endif %}
            <span class="pull-left">|</span>
          {% if choicetype == "good" %}
            <a href="?choicetype=good"><span class="nav cur">好评</span></a>
          {% else %}
            <a href="?choicetype=good"><span class="nav">好评</span></a>
          {% endif %}
        </div>
      </header>

      <div class="detail row">
        {% if count == 0 %}
          <div class="col-xs-30" style="height: 200px; text-align: center">
            没有相关视频信息！
          </div>
        {% else %}
        {% for video in content %}
          <div class="hello">
            <div class="item">
              <a class="video-thumbnail" href="/video/{{ video.id }}">
                <img src="{{ video.thumbs.m.url }}" 
                    onError="this.className='error';this.src='http://placehold.it/212x135&text=!'">    
                <div class="comment">{{ video.description_plain }}</div>
              </a>
            <div class="video-info">
              <div class="title">{{ video.title }}</div>
              <div class="meta clearfix">
                  <div class="watch">
                      <i class='icon-watch'></i>{{ video.views }}
                  </div>
                    {{ video.author }}
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>

  <footer class="pagination-wrapper col-xs-24 col-xs-offset-6" style="text-align: center;">
      {% include "pagination.html" %}
  </footer>
</section>

{% include "footer.html" %}
<script type="text/javascript" src="{{ STATIC_URL }}components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}components/bootstrap/js/dropdown.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}components/bootstrap/js/collapse.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}components/bootstrap/js/affix.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/videos.js"></script>
</body>
</html>
