<section class="video-list container">
    <div class="header">
        {% if more %}
        <a href="/video?type=new" class="h5 more pull-right" style="margin-top:3px;">
            {{ more }}<i class="icon-more icon-more-small"></i>
        </a>
        {% endif %}
        <h4>{{ title }}&nbsp;&nbsp;<span class="small">{{ sub_title }}</span></h4>
    </div>
    <ul class="list row">
        {% for item in content %}
        <li class="col-xs-6">
            <div class="item">
                <a class="video video-medium" href="video/{{ item.id }}">
                    <img src="{{item.thumbs.m.url}}" alt=""
                        onError="this.className='error';this.src='http://placehold.it/212x360&text=!'">    
                    <div class="comment">{% if item.abstract != None %}{{ item.abstract }}{% else %}&nbsp;{% endif %}</div>
                    <i class="btn-play"></i>
                </a>
            
                <div class="video-info">
                  <a href="video/{{ item.id }}"><div class="title">{{ item.title }}</div></a>
                  <div class="meta clearfix">
                      <div class="watch">
                          <i class='icon-watch'></i>&nbsp;{{ item.views }}
                      </div>
                        {{ item.department.name }}
                  </div>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>
</section>
