<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>北航视频</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/videos.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.stickyfooter.css">
    {% include "polyfills.html" %}
</head>
<body class="body">
{% include "navbar.html" with nav=request.nav type="" %}

<div class="img-banner">
  <img src="{{ STATIC_URL }}img/videoBanner.jpg">
</div>
<section class="org-list container no-margin">
  <div class="row">
    <div class="col-xs-6">
        <div class="row list-group" id="accordion">
            <a href="/video?type={{ type }}" {% if category_slug == '' %} class="active list-group-item" \
                {% else %} class="list-group-item" {% endif %} id="all">
                全部视频
            </a>
          {% for item in category %}
            {% if item.children %}
                <a data-target="#{{ item.slug }}" {% if category_slug == item.slug %} class="list-group-item active dropup hi" \
                    {% else %}  class="list-group-item hi" {% endif %} id="a{{ item.slug }}" data-toggle="collapse">
                    {{ item.name }}<b class="caret"></b>
                </a>
                <div {% if category_slug == item.slug %} class="collapse in" {% else %} class="collapse" {% endif %} id="{{ item.slug }}">

                {% for subitem in item.children %}
                    <a {% if sub_category_slug == subitem.slug %} class="list-group-item active" \
                        {% else %} class="list-group-item" {% endif %} href="/video/{{ item.slug }}/{{ subitem.slug }}?type={{ type }}">
                        {{ subitem.name }}</a>
                {% endfor %}
                </div>
            {% else %}
                <a href="/video/{{ item.slug }}?type={{ type }}" \
                    {% if category_slug == item.slug %} class="active list-group-item" {% else %} class="list-group-item" {% endif%}>
                    {{ item.name }}
                </a>
            {% endif %}
          {% endfor %}
        </div>
    </div>
    <div class="col-xs-24 content">
      <header>
        <div class="head-tab">
            <a href="?type=new"><span {% if type == 'new' %} class="nav cur" {% else %} class="nav" {% endif %}>最新</span></a>
            <span class="pull-left">|</span>
            <a href="?type=hot"><span {% if type == "hot" %} class="nav cur" {% else %} class="nav" {% endif %}>最热</span></a>
            <span class="pull-left">|</span>
            <a href="?type=good"><span {% if type == "good" %} class="nav cur" {% else %} class="nav" {% endif %}>好评</span></a>
        </div>
      </header>

      <div class="detail row">
      <div class="col-xs-30"></div>
        {% for video in content %}
            <div class="item hello">
              <a class="video-thumbnail" href="/video/{{ video.id }}">
                <img src="{{ video.thumbs.m.url }}" 
                    onError="this.className='error';this.src='http://placehold.it/212x135&text=!'">    
                <div class="comment">{% if video.abstract != None %}{{ video.abstract }}{% else %}&nbsp;{% endif %}</div>
              </a>
            <div class="video-info">
              <div class="title">{{ video.title }}</div>
              <div class="meta clearfix">
                  <div class="watch">
                      <i class='icon-watch'></i>&nbsp;{{ video.views }}
                  </div>
                    {{ video.department.name }}
              </div>
            </div>
          </div>
        {% endfor %}
        {% if not content %}
          <div class="col-xs-30 video-empty">
          <span></span>
            <img src="{{ STATIC_URL }}img/video_empty.png">
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  {% if count > 16 %}
      <footer class="pagination-wrapper col-xs-24 col-xs-offset-6 page">
          {% include "pagination.html" %}
      </footer>
  {% else %}
      <div style="height:40px;"></div>
  {% endif %}
</section>

{% include "footer.html" %}
<script type="text/javascript" src="{{ STATIC_URL }}components/requirejs/require.js">
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/videos.js"></script>
<script>require(["videos"]);</script>
</body>
</html>
