<section class="video-list container">
    <div class="header">
        {% if more %}
        <a href="/video?type=new" class="h4 more pull-right">
            {{ more }}<i style="margin-left: 5px;" class="icon-more"></i>
        </a>
        {% endif %}
        <h4>{{ title }}&nbsp;&nbsp;<span class="small">{{ sub_title }}</span></h4>
    </div>
    <ul class="list row">
        {% for item in content %}
        <li class="col-xs-6">
            <a class="video video-medium" href="video/{{ item.id }}">
                <img src="{{item.thumbs.m.url}}" alt=""
                    onError="this.className='error';this.src='http://placehold.it/212x360&text=!'">    
                <i class="btn-play"></i>
                <div class="title">{{ item.title }}</div>
            </a>
        </li>
        {% endfor %}
    </ul>
</section>
