<div class="{{ class }}">
    <a class="video-thumbnail" href="/video/{{ video.id }}">
        <img src="{{ video.thumbs.m.url }}" 
            onError="this.className='error';this.src='http://placehold.it/212x135&text=!'">    
        <div class="comment">{{ video.description_plain }}</div>
    </a>
    <div class="video-info">
        <div class="title">{{ video.title }}</div>
        <div class="meta clearfix">
            <div class="watch">
                <i class='icon-watch'></i> {{ video.views }}
            </div>
            {{ video.author }}
        </div>
    </div>
</div>
