<section class="video-grid">
    <div class="header">
        <a href="#" class="h4 more pull-right">@@more <i class="icon-more"></i></a>
        <h4>@@title  <span class="small">@@sub_title</span></h4>
    </div>
    <div class="grid row">
        <div class="col-sm-12">
            <div class="video-large">
                <img src="http://placehold.it/444x377" alt="">
                <a href="#" class="btn-play"></a>
                <div class="info">
                    <div class='title'>北航马拉松大赛</div>
                    <div class='meta'>
                        <div class="watch">
                            <i class='icon-watch-reverse'></i> 1.1万
                        </div>
                        最美的夕阳
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-18">
            <div class="row">
                <div class="col-sm-10 video">
                    <div class="video-thumbnail">
                        <img src="http://placehold.it/210x135" alt="">    
                        <div class="title">瑜伽课教程（三）</div>
                    </div>
                    <div class="video-info">
                        <div class="comment">美女陪你做瑜伽</div>
                        <div class="meta clearfix">
                            <div class="watch">
                                <i class='icon-watch'></i> 1.1万
                            </div>
                            最美的夕阳
                        </div>
                    </div>
                </div>
                <div class="col-sm-10 video">
                    <div class="video-thumbnail">
                        <img src="http://placehold.it/210x135" alt="">    
                        <div class="title">瑜伽课教程（三）</div>
                    </div>
                    <div class="video-info">
                        <div class="comment">美女陪你做瑜伽</div>
                        <div class="meta clearfix">
                            <div class="watch">
                                <i class='icon-watch'></i> 1.1万
                            </div>
                            最美的夕阳
                        </div>
                    </div>
                </div>
                <div class="col-sm-10 video">
                    <div class="video-thumbnail">
                        <img src="http://placehold.it/210x135" alt="">    
                        <div class="title">瑜伽课教程（三）</div>
                    </div>
                    <div class="video-info">
                        <div class="comment">美女陪你做瑜伽</div>
                        <div class="meta clearfix">
                            <div class="watch">
                                <i class='icon-watch'></i> 1.1万
                            </div>
                            最美的夕阳
                        </div>
                    </div>
                </div>
                <div class="col-sm-10 video">
                    <div class="video-thumbnail">
                        <img src="http://placehold.it/210x135" alt="">    
                        <div class="title">瑜伽课教程（三）</div>
                    </div>
                    <div class="video-info">
                        <div class="comment">美女陪你做瑜伽</div>
                        <div class="meta clearfix">
                            <div class="watch">
                                <i class='icon-watch'></i> 1.1万
                            </div>
                            最美的夕阳
                        </div>
                    </div>
                </div>
                <div class="col-sm-10 video">
                    <div class="video-thumbnail">
                        <img src="http://placehold.it/210x135" alt="">    
                        <div class="title">瑜伽课教程（三）</div>
                    </div>
                    <div class="video-info">
                        <div class="comment">美女陪你做瑜伽</div>
                        <div class="meta clearfix">
                            <div class="watch">
                                <i class='icon-watch'></i> 1.1万
                            </div>
                            最美的夕阳
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>    