<section class="video-list">
    <div class="header">
        <h4>{{ title }}  <span class="small">{{ sub_title }}</span></h4>
    </div>
    <ul class="list row">
        <li class="col-xs-6">
            <div class="video video-medium">
                <img src="http://placehold.it/234x400" alt="">
                <div class="title">舌尖上的中国（二）</div>
            </div>
        </li>
        <li class="col-xs-6">
            <div class="video video-medium">
                <img src="http://placehold.it/234x400" alt="">
                <div class="title">舌尖上的中国（二）</div>
            </div>
        </li><li class="col-xs-6">
            <div class="video video-medium">
                <img src="http://placehold.it/234x400" alt="">
                <div class="title">舌尖上的中国（二）</div>
            </div>
        </li><li class="col-xs-6">
            <div class="video video-medium">
                <img src="http://placehold.it/234x400" alt="">
                <div class="title">舌尖上的中国（二）</div>
            </div>
        </li><li class="col-xs-6">
            <div class="video video-medium">
                <img src="http://placehold.it/234x400" alt="">
                <div class="title">舌尖上的中国（二）</div>
            </div>
        </li>
    </ul>
</section>